@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-col0: #20021d;
  --color-col1: #030303;
  --color-col2: #123458;
  --color-col3: #D4C9BE;
  --color-col4: #F1EFEC;
  --color-col5: none;
  --color-col6: #ffffff;
}
@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #20021d; */
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}
